body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container {
    width: 500px;
    background-color: #fff;
    height: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#message-list {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #e9ebee;
}

#message-form {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

#username, #message {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

#send {
    background-color: #3b5998;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

#send:hover {
    background-color: #334d84;
}

#message-list p {
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#message-list p strong {
    color: #3b5998;
}
